@charset "UTF-8";

        *{
            margin: 0px;
            padding: 0px;
        }

        html, body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
        }

        body{
            background-color: lightgray;
        }

        header{
            margin: 10px;
            text-align: center;
        }

        main label{
            font-weight: bold;
        }

        main input{
            border-radius: 5px;
            display: block;
            padding: 5px;
            margin: 5px;
        }

        #botao{
            width: 100px;
            background-color: aquamarine;
            font-weight: bold;
        }

        #botao:hover{
            background-color: rgb(54, 107, 89);
            color: white;
            cursor: pointer;
        }

        
        

